GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
GOOGLE_PROJECT_ID=
APP_VERSION=local-dev
LOG_FLUSH_MAX_BATCH=10
NEXT_PUBLIC_APP_NAME=PlusMinus Lab
NEXT_PUBLIC_APP_URL=http://localhost:3000
